<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>se.kovanen.tdi</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0993E705-69AB-455A-AE69-27814EF118DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21FB02A3-06FD-4535-8862-07F2C7DA84F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lari Kovanen</string>
	<key>description</key>
	<string>Hides or shows your icons on the desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Desktop Icons</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

state=$(defaults read com.apple.finder CreateDesktop)

if [ $state = "true" ]; then
	defaults write com.apple.finder CreateDesktop false; killall Finder
else
	defaults write com.apple.finder CreateDesktop true; killall Finder
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21FB02A3-06FD-4535-8862-07F2C7DA84F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tdi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Desktop Icons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0993E705-69AB-455A-AE69-27814EF118DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Toggles showing/hiding the icons on your desktop.</string>
	<key>uidata</key>
	<dict>
		<key>0993E705-69AB-455A-AE69-27814EF118DD</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>21FB02A3-06FD-4535-8862-07F2C7DA84F7</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://kovanen.se/software/tdi-alfred/</string>
</dict>
</plist>
